.weather-div{
    padding: 20px;
    background-color: #FFFFFF;
    margin: 10px;
}

.shadow {
  -moz-box-shadow:    0px 1px 2px 1px #ccc;
  -webkit-box-shadow: 0px 1px 2px 1px #ccc;
  box-shadow:         0px 1px 2px 1px #ccc;
}
