<div class="container top-most-div">
   <br/>
   <form (submit)="search(keyword.value)">
      <h5>Search</h5>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">S</span>
          <input type="text" class="form-control" placeholder="keyword" aria-describedby="basic-addon1" #keyword>
      </div>
      <br/>
      <input type="submit" class="login_button" id="search_btn" (click)="search(keyword.value)">
   </form>
   <br/>
   <hr/>
   <h4 class="text-center">Todays Weather</h4>
   <br/>
   <div *ngIf="!has_loaded">
      <div class="loading"></div>
   </div>
   <div class="row">
      <a href=""><weather *ngFor="let weat of all_weather; let i = index" [weather]="weat" (click)="showWeather(i)"></weather></a>
   </div>
</div>
