<div class="container top-most-div">
   <br/>
   <h5 class="text-right"><button class="back-btn" (click)="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></h5>

   <hr/>
   <h4 class="text-center">Weather Details for '{{title}}'</h4>
   <br/>
   <div *ngIf="!has_loaded">
      <div class="loading"></div>
   </div>
   <div class="row">
      <detail *ngFor="let weather of all_weather;" [detail]="weather"></detail>
   </div>
   <!--<div class="row" #nocontent >
      <h4 *ngIf="has_loaded" class="text-center grey_text">No results were found. Try changing the keyword!</h4>
   </div>-->

</div>
