<div class="container">
   <br/>
   <h5 class="text-right"><a routerLink=""><i class="fa fa-right-arrow" aria-hidden="true"></i> Back</a></h5>

   <hr/>
   <h4 class="text-center">Location Details for '{{title}}'</h4>
   <br/>

   <div class="row">
      <detail *ngFor="let weather of all_weather;" [detail]="weather"></detail>
   </div>
   <!--<div class="row" #nocontent >
      <h4 *ngIf="has_loaded" class="text-center grey_text">No results were found. Try changing the keyword!</h4>
   </div>-->

</div>
