/* You can add global styles to this file, and also import other style files */
a{
   color: black;
}

a:hover{
   color: black;
}

.back-btn{
   background-color: rgba(0,0,0,0);
   border:0px;
   color:#000000;
}

.top-most-div{
   margin-bottom: 50px;
}

.back_btn:focus{
   color:#000000;
   text-decoration: underline;
}

#search_btn{
    background-color: #2E86C1;;
    border: 0px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#search_btn:hover{
    background-color: #1B4F72;
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EECA1E;
  border-bottom: 16px solid #EECA1E;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.weather-div{
    padding: 20px;
    background-color: #FFFFFF;
    margin: 10px;
}

.shadow {
  -moz-box-shadow:    0px 1px 2px 1px #ccc;
  -webkit-box-shadow: 0px 1px 2px 1px #ccc;
  box-shadow:         0px 1px 2px 1px #ccc;
}

.img-center{
  display: block;
   margin-left: auto;
   margin-right: auto;
}

.grey_text{
   color: #99A3A4;
}
